@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
  
}
.container{
    max-width:1200px;
    margin-inline: auto;
}
small{
    background-color: #309b65;
    color: #fff;
    padding:3px ;
    font-size: 0.6rem;
    font-family: "Roboto", sans-serif;
 }

 /* START  STYLE NAVPAR */ 
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #d2cece;
    /* padding:-6px; */
}
.hero{
    border-bottom: 0.5px solid #d2cece;
    padding:40px;
}

.hero-center , .hero-left , .hero-right {
    border-right: 0.5px solid #d2cece;
    padding-right: 10px;
}
.links-menu , .menu ,.logo{
    border-right: 0.5px solid #d2cece;
    padding-right:10px ;
}
.logo{
    display: flex;
}
.logo .logo-left{
    text-transform: uppercase;
    font-size: 3.3rem;
      font-family: "EB Garamond", serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(48,155,101);
}
.logo .logo-right{
 margin-left: 1rem;
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 500;
}
.logo .logo-right #news{
    border-bottom: 1px solid black;
}
.links-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-menu li{
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    padding:31px;
}
.links-menu li i{
    color: rgb(48,155,101);
    width: 19px;
     font-size:20px;
}
.links-menu li a{
    color: #000;
    text-decoration: none;
}
.links-menu li a:hover{
    color: rgb(48,155,101);
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
#active{
    color: rgb(48,155,101);
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    padding: 31px;
    list-style: none;
}
ul li i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
ul li  a{
    color: #000;
    text-decoration: none;
}
ul li button{
    background-color: RGB(77 178 236);
    color: #fff;
    padding:10px;
    border: none;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
}
.hanbugar{
    display: none;
}
.mobile-menu{
    display: none;
}
 /* END    STYLE NAVPAR*/


  /* <!-- start style news */

.news-menu{
display: flex;
justify-content: space-between;
margin-top: 50px;
border-bottom: 1px solid #000;
padding-bottom: 20px;
}

.news-menu h1{
    font-size: 2.625rem;
    font-weight: 700;
    font-family: "EB Garamond", serif;
}
.news-menu a{
    text-decoration: none;
    color:#309b65;
    margin-left: 10px;
    font-size: 0.9375rem;
    font-weight: 500;
}
.news{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 30px;
    margin-top: 50px;
    border-bottom: 0.5px solid #d2cece;
    padding-bottom: 40px;
}
.news .news-left{
    grid-column: 1 / span 3;
    /* background-color: #0de065; */
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),
     url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/25-1068x713.jpg")center/cover,no-repeat;
    position: relative;
    color: #fff;
        
    }
.news .news-left .news-left-info{
    position: absolute;
    bottom:0;
    padding: 20px;
}
.news .news-left .news-left-info button{
    background-color: #fff;
    color: #309b65;
    width: 20%;
    padding:5px  10px;
    font-size: 0.8666666666666667rem;
    font-weight:550;
    text-transform: uppercase;
    border: none;
    margin-bottom: 10px;
}
.news .news-left .news-left-info h4{
    font-family: "EB Garamond", serif;
    font-size: 2.1875rem;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 10px;
}
.news .news-right{
    grid-column: 4 / span 4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
 }


.news .news-right  img{
    width: 100%;
    height: 150px;
}
.news .news-right{
    
}
.news .news-right  .right-1-info{
    margin-bottom: 20px;
}
.news .news-right #right-bottom{
    border-bottom: 0.5px solid #d2cece;
    padding-bottom: 40px;
    gap: 10px;
}
.news .news-right #right-margin{
    /* margin-top: -100px; */
}
.news .news-right  h2 {
   font-size: 0.9125rem;
   font-weight: 700;
   color: #309b65;
   text-transform: uppercase;
   margin:10px 0;
}
.news .news-right  p{
    font-family: "EB Garamond", serif;
    font-size: 1.25rem;
    font-weight: 600;
}
.news .news-right  p:hover{
    color: #309b65;
}
.news .news-right .right-2{
   
}
  /* <!-- End style news */

/* start style news-paper */

.news-paper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:80px 0;
    border-bottom: 0.5px solid #d2cece;
    margin-inline: auto;
    padding-bottom: 40px;
}
/* End style news-paper */

/* START  STYLE LASTEST ARTICLE    contain last-article and subscribe */
.latest-articles{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 50px;
   }
   .latest-articles .last-article{
    grid-column: 1 /span 6;
      
   }
   .latest-articles .subscribe{
    grid-column: 7/span 2;
     
        }
   .latest-articles .last-article img{
    width: 100%;
   }
   .multiple .article-info .article-content img{
    width: 5%;
    height: 5%;
    border-radius: 50%;
   }
   .multiple{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #d2cece;
    padding-bottom: 30px;
    
   }
   .latest-articles .last-article .multiple{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
   }
   .latest-articles .last-article .multiple h3{
    font-size: 1.875rem;
    font-family: "EB Garamond", serif;
    font-weight: 600;
   }
   .latest-articles .last-article .multiple .article-content{
    display: flex;
    gap: 10px;
    align-items: center;
     margin: 20px  0px;
   }
   .latest-articles .last-article .article-info p{
    font-size: 1rem;
    color:rgb(153, 153, 153);
    font-weight: 400;
    
   }
   form{
    margin-top: 20px;
   }
  .subscribe input ,button{
 width: 90%;

  }
  form input{
    padding:15px;
    outline: none;
    border: 0.5px solid gray;
    font-size: 0.8125rem;
    font-weight:700;
    
  }
  form button{
    padding:15px;
    outline: none;
    border: 1px solid gray;
    font-size: 0.8125rem;
    font-weight:700;
    margin-top: 20px;
    background-color: #309b65;
    color: #fff;
    font-size:0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  form button i{
    margin-left: 10px;
    font-size: 1rem;
  }
  form .check {
    display: flex;
    margin-top: 10px;
    gap: 10px;
   }
   form  .check input{
    font-size: 0.5rem;
    width: 10%;
   }
   form  .check p{
  font-size: 0.8rem;
   }
   form  .check span{
  font-size: 0.8rem;
   }
   .subscribe .check-image{
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)) ,
    url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/33-696x464.jpg")center/cover,no-repeat;
    height:400px;
    width:100%;
    margin-top: 20px;
    position: relative;
}
.subscribe .check-image .check-info {
  position:absolute;
 bottom: 0;
 color: #fff;
 padding: 20px;

}
.subscribe .check-image .check-info h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
        }
        .title{
            display: flex;
                margin-top:30px;
              align-items: center;
              justify-content: center;
              border-bottom: 0.5px solid #d2cece;
              padding-bottom: 30px;
              gap: 20px;
            }
            .title img{
             
                width:105px;
                border-radius: 50%;
                height:100px;
                background-size: cover;
            }
            .title p{
                font-size: 0.875rem;
                font-weight: 500;
                line-height:18px;
            }
            
 /* END    STYLE    LASTEST-ARTICLES  CONTAIN LAST-ARTCLE   AND SUBSCRIBE*/

   /* /*START STYLE news-paper-image  */
   .news-paper-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  /* /*Send STYLE news-paper-image  */

/* START  STYLE FOOTER */ 
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-top: 50px;
    border-bottom: 0.5px solid #d2cece;
    margin-bottom: 20px;
    padding: 10px;
}
.footer .follow-us h1, .company h1, .letters h1, .popular-news h1{
    font-family: "EB Garamond", serif;
     margin-bottom: 20px;
     border-bottom: 1.5px solid #000;
     padding-bottom: 20px;
}
.footer .follow-us .icons i{
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
   margin-bottom: 20px;
   margin-left:7px;
   margin-top: 20px;
  
}

.footer .follow-us p{
    font-size: 0.8125rem;
    font-weight: 400;
    
}
.company  ,.letters ,.popular-news ,.follow-us{
    border-right: 0.5px solid #d2cece;
                   padding-right: 20px;
}
.company ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company ul a{
    text-decoration: none;
      color: #000;
      font-weight: 600;
      font-size: 0.8125rem;
}
.company ul a:hover{
    color: #309b65;
}
.letters p, .popular-news p{
    font-family: "EB Garamond", serif;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #d2cece;

}
.letters p:hover, .popular-news p:hover{
    color: #309b65;
}
.non-border p{
 border-bottom: none;
}



.footer-center{
 display: flex;
 justify-content: space-between;
}

.footer-center ul {
    display: flex;
     gap: 10px;
     align-items: center;
     justify-content: center;
}
.footer-center {
    border-bottom: 0.5px solid #d2cece;
    padding:10px;
    width: 100%;
    margin-bottom: 20px;
}
.footer-center ul a{
    text-decoration: none;
      color: #000;
      font-weight: 600;
      font-size: 0.8125rem;
}
.footer-center ul a:hover{
    color: #309b65;
}
.footer-end{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.footer-end p{
    font-size: 0.6875rem;
    font-weight: 500;
}
/* END    STYLE FOOTER*/



@media (max-width:640px){
    /* START STYLE NAVPAR  @MEDIA QUERRY specally TSMART PHONES */
    .menu{
         display: none;
 
     }
     .hanbugar{
         display: block;
             top:30px;
             right:0;
             z-index:100;
         color: #0de065;
      position: absolute;
         border-radius: 50%;
         width:20px;
         height:20px;
      display: flex;
      align-items: center;
      justify-content: center;
        padding: 10px;
      font-size:2.5rem;
      padding: 30px;
      
     }
     .mobile-menu{
         display: none;
     }
     .mobile-menu[data-visible="false"]{
         transform: translateX(100%);
     }
     .hanbugar i[data-visible="true"]{
         display: block;
     }
     .hanbugar i[data-visible="false"]{
         display:none;
     }
     .logo{
         padding: 20px;
         
     }
     .links-menu , .menu ,.logo{
         border-right: 0.5px solid #d2cece;
         padding-right:10px ;
     }
     .logo .logo-right #news{
         border-bottom: 1px solid black;
     }
    
     .mobile-menu{
              display: flex;
         justify-content: center;
      position:fixed;
         background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
         url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/38.jpg")center/cover,no-repeat;
         width:100%;
         height:100vh;
          inset: 0 0 0 0;              
         color: #fff;   
         transform: translateX(0%);
         transition: transform ease-out 0.1s;
         flex-direction: column;
     
     }
     
     .mobile-menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }
     .mobile-menu a{
         text-decoration: none;
         color: #fff;
         font-size: 1.5rem;
         margin: 10px 0;
         cursor: pointer;
         
     }
     .mobile-menu a i{
   
         padding: 10px;
     }
     .mobile-menu a button{
         background-color: RGB(77 178 236);
         color: #fff;
         padding:10px;
         border: none;
         font-size: 0.75rem;
         font-weight: 500;
         text-transform: uppercase;
     }
     .mobile-menu  a:hover{
         color: rgb(48,155,101);
 
     }
/* END STYLE nav  @MEDIA QUERRY specally TSMART PHONES */

  /* START STYLE news  @MEDIA QUERRY specally SMART PHONES */

  .news-menu{
    padding:30px;
  }

.news{
    display:grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-left: 10px;
}
.news .news-left{
    grid-column: 1 / span 3;
    /* background-color: #0de065; */
    /* height: 100vh; */
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),
     url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/25-1068x713.jpg")center/cover,no-repeat;
    position: relative;
    color: #fff;
        width:97%;
       
    }
.news .news-right{
    grid-column: 1;
      display: grid;
    grid-template-columns: 1fr;
}
.news .news-right  img{
  
    height:300px;
}
.news .news-right{
    border-left: none;
}
.news .news-right #right-margin{
    margin-top: -40px;
}
    /* end STYLE news  @MEDIA QUERRY specally TSMART PHONES */
     



         /* START STYLE news-ppaer  @MEDIA QUERRY specally TSMART PHONES */

         .news-paper img{
             width:90%;
             
         }

         /* end STYLE  news-paper  @MEDIA QUERRY specally TSMART PHONES */





         /* START STYLE FOOTER  @MEDIA QUERRY specally TSMART PHONES */
     .footer{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
   .footer{
    width: 100%;
   }
    .footer-center {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
      
    }
    .footer-center ul{
        border-bottom: 0.5px solid #d2cece;
        padding-bottom:30px;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-center ul{
        margin-top: -10px;
    }
    .footer-center {
     border: none;
    }
    .company  ,.letters ,.popular-news ,.follow-us{
        border:none;
    }
    .links-menu , .menu ,.logo{
        border:none;
    }
    .company ul{
        display: flex;
        align-items: self-start;
    }
/* END STYLE FOOTER  @MEDIA QUERRY specally TSMART PHONES */



 /*START STYLE LASTEST-ARTICLES  CONTAIN LAST-ARTCLE  AND SUBSCRIBE @MEDIA QUERRY specally SMART-PHON*/    
 .latest-articles{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 20px;
       }
       .latest-articles .last-article{
       grid-column: 1;
          
       }
       .latest-articles .subscribe{
        grid-column: 1;
         
            }
           .latest-articles .last-article .multiple{
               display: flex;
               flex-direction: column;
            }
             /* /*START STYLE LASTEST-ARTICLES  CONTAIN LAST-ARTCLE  AND SUBSCRIBE @MEDIA QUERRY specally SMART-PHON */


              /* /*START STYLE news-paper-image @MEDIA QUERRY specally SMART-PHON */
              .news-paper-image{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
              }
              /* /*Send STYLE news-paper-image @MEDIA QUERRY specally SMART-PHON */



 }
 @media screen and (min-width:641px) and (max-width:770px){
    /* START STYLE NAVPAR  @MEDIA QUERRY specally TSMART PHONES */
    .menu{
        display: none;

    }
    .hanbugar{
        display: block;
            top:30px;
            right:0;
            z-index:100;
        color: #0de065;
     position: absolute;
        border-radius: 50%;
        width:20px;
        height:20px;
     display: flex;
     align-items: center;
     justify-content: center;
       padding: 10px;
     font-size:2.5rem;
     padding: 30px;
     
    }
    .mobile-menu{
        display: none;
    }
    .mobile-menu[data-visible="false"]{
        transform: translateX(100%);
    }
    .hanbugar i[data-visible="true"]{
        display: block;
    }
    .hanbugar i[data-visible="false"]{
        display:none;
    }
    .logo{
        padding: 20px;
        
    }
    .links-menu , .menu ,.logo{
        border-right: 0.5px solid #d2cece;
        padding-right:10px ;
    }
    .logo .logo-right #news{
        border-bottom: 1px solid black;
    }
   
    .mobile-menu{
             display: flex;
        justify-content: center;
     position:fixed;
        background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
        url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/38.jpg")center/cover,no-repeat;
        width:100%;
        height:100vh;
         inset: 0 0 0 0;              
        color: #fff;   
        transform: translateX(0%);
        transition: transform ease-out 3s;
        flex-direction: column;
    
    }
    
    .mobile-menu {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }
    .mobile-menu a{
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        margin: 10px 0;
        cursor: pointer;
        
    }
    .mobile-menu a i{
  
        padding: 10px;
    }
    .mobile-menu a button{
        background-color: RGB(77 178 236);
        color: #fff;
        padding:10px;
        border: none;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    .mobile-menu  a:hover{
        color: rgb(48,155,101);

    }
/* END STYLE nav  @MEDIA QUERRY specally TSMART PHONES */

 /* START STYLE news  @MEDIA QUERRY specally SMART PHONES */

 .news-menu{
   padding:30px;
 }

.news{
   display:grid;
   grid-template-columns: 1fr;
   gap: 10px;
   padding-left: 10px;
}
.news .news-left{
    grid-column: 1 / span 3;
    /* background-color: #0de065; */
    /* height: 100vh; */
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),
     url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/25-1068x713.jpg")center/cover,no-repeat;
    position: relative;
    color: #fff;
        width:97%;
       z-index: -10;
    }
.news .news-right{
   grid-column: 1;
     display: grid;
   grid-template-columns: 1fr;
}
.news .news-right  img{
 
   height:300px;
}
.news .news-right{
   border-left: none;
}
.news .news-right #right-margin{
   margin-top: -40px;
}
   /* end STYLE news  @MEDIA QUERRY specally TSMART PHONES */
    



        /* START STYLE news-ppaer  @MEDIA QUERRY specally TSMART PHONES */

        .news-paper img{
            width:90%;
            
        }

        /* end STYLE  news-paper  @MEDIA QUERRY specally TSMART PHONES */





        /* START STYLE FOOTER  @MEDIA QUERRY specally TSMART PHONES */
    .footer{
       display: grid;
       grid-template-columns: 1fr;
       padding: 20px;
   }
  .footer{
   width: 100%;
  }
   .footer-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
   }
   .footer-center ul{
       border-bottom: 0.5px solid #d2cece;
       padding-bottom:30px;
       width: 100%;
       margin-bottom: 20px;
   }
   .footer-center ul{
       margin-top: -10px;
   }
   .footer-center {
    border: none;
   }
   .company  ,.letters ,.popular-news ,.follow-us{
       border:none;
   }
   .links-menu , .menu ,.logo{
       border:none;
   }
   .company ul{
       display: flex;
       align-items: self-start;
   }
/* END STYLE FOOTER  @MEDIA QUERRY specally TSMART PHONES */



/*START STYLE LASTEST-ARTICLES  CONTAIN LAST-ARTCLE  AND SUBSCRIBE @MEDIA QUERRY specally SMART-PHON*/    
.latest-articles{
       display: grid;
       grid-template-columns: 1fr;
       gap: 50px;
       padding: 20px;
      }
      .latest-articles .last-article{
      grid-column: 1;
         
      }
      .latest-articles .subscribe{
       grid-column: 1;
        
           }
          .latest-articles .last-article .multiple{
              display: flex;
              flex-direction: column;
           }
            /* /*START STYLE LASTEST-ARTICLES  CONTAIN LAST-ARTCLE  AND SUBSCRIBE @MEDIA QUERRY specally SMART-PHON */


             /* /*START STYLE news-paper-image @MEDIA QUERRY specally SMART-PHON */
             .news-paper-image{
               display: flex;
               align-items: center;
               justify-content: center;
               margin-top: 30px;
             }
             /* /*Send STYLE news-paper-image @MEDIA QUERRY specally SMART-PHON */

 }