@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
  
}
.container{
    max-width:1200px;
    margin-inline: auto;
}
/* START STYLE GENERALLY*/
small{
    background-color: #309b65;
    color: #fff;
    padding: 2px 5px;
    font-family: "Roboto", sans-serif;
 }
 /* END STYLE GENERALLY*/



 /* START STYLE    NAV*/
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #d2cece;
    /* padding:-6px; */
}

.links-menu , .menu ,.logo{
    border-right: 0.5px solid #d2cece;
    padding-right:10px ;
}
.logo{
    display: flex;
}
.logo .logo-left{
    text-transform: uppercase;
    font-size: 3.3rem;
      font-family: "EB Garamond", serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(48,155,101);
}
.logo .logo-right{
 margin-left: 1rem;
 display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.875rem;
  font-weight: 500;
}
.logo .logo-right #news{
    border-bottom: 1px solid black;
}
.links-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-menu li{
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    padding:31px;
}
.links-menu li i{
    color: rgb(48,155,101);
    width: 19px;
     font-size:20px;
}
.links-menu li a{
    color: #000;
    text-decoration: none;
}
.links-menu li a:hover{
    color: rgb(48,155,101);
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
#active{
    color: rgb(48,155,101);
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    padding: 31px;
    list-style: none;
}
ul li i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
ul li  a{
    color: #000;
    text-decoration: none;
}
ul li button{
    background-color: RGB(77 178 236);
    color: #fff;
    padding:10px;
    border: none;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
}
.hanbugar{
    display: none;
}
.mobile-menu{
    display: none;
}
/* END STYLE NAV*/


/* START STYLE Header */
header{
    display: flex;
     margin:20px 0;
     }
header h4{
    color:#309b65;
}
header p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

/* END STYLE Header */

/* START STYLE Hero */
.hero{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
   
}

.hero .hero-left img{
    width: 100%;
}
.hero{
    border-bottom: 0.5px solid #d2cece;
    padding-bottom:40px;
}

.hero-center , .hero-left , .hero-right {
    border-right: 0.5px solid #d2cece;
    padding-right: 10px;
}
.hero .hero-left h4{
    color: #309b65;
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
}
.hero .hero-left h5{
    font-size:1.25rem;
    font-weight: 600;
    font-family: "EB Garamond", serif;
}
.hero .hero-left p{
    color:rgb(153, 153, 153);
    font-weight: 400;
    font-size:1rem;
    line-height: 18px;
    margin-bottom: 15px;
}

.hero .hero-center {
     grid-column: 2 / span 2;
           display: grid;
      grid-template-rows: repeat(2,1fr);
      gap: 10px;
   }
span{
    color: #309b65;
}
.hero .hero-center .hero-info-1{
    background-color: black;
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),
    url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/33-1068x712.jpg")center/cover;
    width:100%;
    height:100%;
    color: #fff;
    font-family: "EB Garamond", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}
.hero .hero-center .hero-info-1 h4{
    font-size: 2.1875rem;
    font-weight:800;
    line-height: 39px;
}
.hero .hero-center .hero-info-1  button{
    width:20%;
    margin-top:25%;
    text-transform: uppercase;
    color: #309b65;
    padding:6px 3px;
    font-weight:550;
    font-size:0.9rem;
    border: 2px solid grey;
}
.hero .hero-center .hero-info-1  p{
font-size:1rem;
font-weight:400;
margin: 10px 0;
font-family: "Roboto", sans-serif;
   }
.hero .hero-center .hero-info-2{
    background-color: rgb(246, 40, 40);
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),
    url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/22-1068x713.jpg")center/cover;;
    width:100%;
    height:100%;
    font-family: "EB Garamond", serif;
   color: #fff;
   padding: 20px;
}
.hero .hero-center .hero-info-2 h4{
    font-size: 2.1875rem;
    font-weight:800;
    line-height: 39px;

}
.hero .hero-center .hero-info-2  button{
    width:20%;
    margin-top:25%;
    text-transform: uppercase;
    color: #309b65;
    padding:6px 3px;
    font-weight:550;
    font-size:0.9rem;
    border: 2px solid grey;
}
.hero .hero-center .hero-info-2  p{
font-size:1rem;
font-weight:400;
margin: 10px 0;
font-family: "Roboto", sans-serif;
   } 
 .hero-right{
 display: flex;
 flex-direction: column;
 gap:25px;
}
.hero-right img{
    width:45%;
    height:17vh;
}
.hero-right  .hero-right-1{
    display: flex;
    gap:14px;
    font-size:1rem;
    font-weight: 500;
}
.hero-right .sub-hero{
    display: flex;
    flex-direction: column;
}
.sub-hero p{
    color: RGB(163 163 163);
    font-size: 0.75rem;

}
.sub-hero h5{
    margin-top:2px;
}
.sub-hero h5:hover{
    color: #309b65;
}
/* END  STYLE Hero */

/* START STYLE News-paper */
.news-paper-image{
    margin:30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #d2cece;
    padding: 30px;
}

/* End STYLE News-paper */

/* START STYLE blogs */
.blogs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-bottom: 8%;
    margin-top: 60px;
    border-bottom: 0.5px solid #d2cece;
    padding: 30px;
    border-right: 0.5px solid #d2cece;
    padding-right:15px;
}
.blogs img{
    width: 100%;
}
.blog{
    border-right: 0.5px solid #d2cece;
    padding-right:15px;
}
.blogs .blog h3{
color: #309b65;
margin:2%;
}
.blogs .blog h5{
    font-family: "EB Garamond", serif;
    font-size: 1.375rem;
    font-weight: 600;
    margin:2%;
    line-height:25px;
}
.blogs .blog em{
background-color: #309b65;
color: #fff;
font-size: 1.25rem;
}
.blogs .blog p{
    font-size: 0.8125rem;
    color: #999999;
    line-height: 20px;
}
/* end STYLE News-paper */

/* START STYLE  Articles*/
.articles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    border-bottom: 0.5px solid #d2cece;
    padding:10px;
    
}

.articles img{
    width: 100%;
}
.articles .article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:25px;
    margin-bottom: 20px;
}
.articles .article img{
    width:300px;
    height:300px;
}
.articles .article .articles-info img{
    width:10%;
    height:10%;
    border-radius: 50%;
}
.articles .article h4{
    font-size: 1.6125rem;
    font-weight: 600;
    font-family: "EB Garamond", serif;
    margin-top:7%;
}
.articles .article .articles-profile{
   display: flex;
   gap: 7px;
   align-items: center;
   margin-top:7%;
}
.articles .article .articles-profile p{
color: #999999;
font-size: 0.6875rem;
}
/* End STYLE articles*/

/* START STYLE  instagram */
.instagram{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
    margin-top:50px;
    border-bottom: 0.5px solid #d2cece;
    padding: 15px;
}
.insagram-content , .info {
    border-bottom: 0.5px solid #d2cece;
    padding:15px;
}
.instagram-1 , .instagram-2 , .instagram-3{
    border-right: 0.5px solid #d2cece;
    padding-right:15px;
}
   .instagram h1{
    border-bottom: 1px solid black;
    font-family: "EB Garamond", serif;
    width:100%;
    text-transform: uppercase;
   }

   .insagram-content{
      display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 10px;
      }
   .insagram-content  .img img{
    width:100px;
    border-radius:60%;
    height:100px;
   }
   .instagram .insagram-content .instagram-info{
 grid-column: 2 /span 2;
  margin-top: 20px;
  gap: 10px;
   }
   .instagram .insagram-content .instagram-info h4{
    text-transform: uppercase;
   }
   .instagram .insagram-content .instagram-info h6{
    font-weight:450;
    font-size: 1rem;
    margin: 10px;
   }

.instagram .instagram-2 .info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin:10px 0px;
}
.instagram .instagram-2 .info p{
    grid-column: 1 / span 2;
    font-size: 1.275rem;
    font-weight:600;
    font-family: "EB Garamond", serif;
}
.instagram .instagram-2 .info img{
    width: 100%;
    grid-column: 3 /span 1;
}

.instagram .instagram-3 h3{
      margin-top:33px;
      font-family: "EB Garamond", serif;
      font-size:1.3rem;
}
.instagram .insagram-content .instagram-profile{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.instagram .insagram-content .instagram-profile p{
    color: #999999;
    font-size: 0.6875rem;
}
.instagram-3 .info{
display: flex;
gap: 10px;
margin-top: 10px;
}
.instagram-3 .info p{
  color: #999999;
  font-weight: 500;
  font-size: 0.9125rem;
}
/* END STYLE INstagram */


/* START STYLE General News */
.general-news{
    border-bottom: 0.5px solid #d2cece;
    padding: 30px;
}
.general-content{
    border-right: 0.5px solid #d2cece;
    padding-right:15px;
}
.general-news h3{
  text-align: center;
  text-transform: uppercase;
font-weight:500;
font-size: 1.5rem;
line-height: 30px;
}
.general-news .general-info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top:30px;
}
.general-news .general-info .general-content h5{
font-size: 1.2375rem;
font-weight: 600;
font-family: "EB Garamond", serif;
}
.general-news .general-info .general-content h5 i{
    margin:10px;
}
.general-news .general-info .general-content p{
    font-size: 0.75rem;
    font-weight: 400;
    color: #999999;
    margin-top: 10px;
}
/* END STYLE General News*/

/* START STYLE social media */
.social-media{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top:30px ;
    position: relative;
    border-bottom: 0.5px solid #d2cece;
    padding: 30px;

}
.social-media .image-gellery-1 {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),
    url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/20-696x464.jpg")top/cover, no-repeat;
    width: 100%;
    height: 400px;
   color: #fff;
}
.social-media .image-gellery-2 {
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7))
    , url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/19-696x464.jpg")top/cover, no-repeat;
    width: 100%;
    height: 400px;
   color: #fff;
}
.social-media .image-gellery-3 {
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7))
    , url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/18-696x464.jpg")top/cover, no-repeat;
    width: 100%;
    height: 400px;
   color: #fff;
}
.social-media .image-gellery-4 {
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7))
    , url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/17-696x392.jpg")top/cover, no-repeat;
    width: 100%;
    height: 400px;
   color: #fff;
}
.social-media .amedia-content p{
     /* width:300px; */
    padding: 20px;
    font-size: 1.4125rem;
    font-weight: 600;
    margin-top:230px;
    
   }
   .social-media .amedia-info{
      margin-top: -30px;
    padding: 20px;
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: 400;
   }
   /* END STYLE social-media*/

   /* START STYLE Sections*/
   .sections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top:35px ;
    border-bottom: 0.5px solid #d2cece;
    padding: 30px;
    
   }
   .sect{
    border-bottom: 0.5px solid #d2cece;
    padding: 30px;
   }
   .sections img{
    width:100%;
    height:100px;
   }
   .sections .section-1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    border-right: 0.5px solid #d2cece;
    padding-right:30px;
   }
   .sections .section-1 p{
   font-size: 1.0625rem;
   font-weight:450;
   grid-column: 1 /span 2;
   
   }
   /* END STYLE sections */

   /* START STYLE  amember */
   .amember{
    margin-top: 50px;
    border: 1.5px solid #000;
    padding:50px;
    margin-bottom: 30px;
    
       }
       .amember-info{
         display: grid;
         grid-template-columns: repeat(3,1fr);
         gap: 40px;
       }
        
       .amember-info p{
        grid-column: 1/ span 2;
         
       }
       .amember-info p{
        margin-top: 20px;
       }
       .amember-info button{
        grid-column: 3/ span 1;
        background-color: #309b65;
        color: #fff;
        text-transform: uppercase;
        border: none;
        width:250px;
        margin-inline: auto;
        font-size: 1rem;
        font-weight: 500;
        height:50px;
       }
       /* END STYLE Amember*/
       

       /* START STYLE Albums*/
       .albums{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:20px;
        border-bottom: 0.5px solid #d2cece;
        padding: 30px;
        border-top: 0.5px solid #d2cece;
      
       }
       .albums .album-1 h3 , .album-2 h3 , .album-3 h3 ,.album-4 h3{
        position: absolute;
         top: 38%;
         left:15%;
         text-align: center;
        color: #fff;
        font-size: 2.5rem;
        font-family: "EB Garamond", serif;
        font-weight: 700;
        
       }
       .albums .album-1{
         background: url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/39.jpg")center/cover,no-repeat;
         height:290px;
         border-radius: 50%;
         margin: 20px 0px;
         position: relative;
         border-left: 0.5px solid #d2cece;
         padding-right:100px;
       }
       .albums  .album-2{
        background: url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/6.jpg")center/cover,no-repeat;
        border-radius: 50%;
         margin: 20px 0px;
         height:290px;
         position: relative;

       }
       .albums  .album-3{
        background: url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/21.jpg")center/cover,no-repeat;
        border-radius: 50%;
         margin: 20px 0px;
         height:290px;
         position: relative;
         
       }
       .albums  .album-4{
        background: url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/18.jpg")center/cover,no-repeat;
        border-radius: 50%;
         margin: 20px 0px;
         height:290px;
         position: relative;
         
       }
    /* END STYLE Albums */

    /* START STYLE Exclusive Content */
       .exclusive-content{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 20px;
        margin-top: 50px; border-bottom: 0.5px solid #d2cece;
        padding: 30px;

          }
       .exclusive-content .exclusive-1{
        grid-column: 1 / span 2;
        border-right: 0.5px solid #d2cece;
        padding-right:0px;
        height:100vh;
         background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)), url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/41-1068x743.jpg")center /cover , no-repeat;
         background-color: #0de065;
       }
       .exclusive-content .exclusive-1 .exclusive-info{
        display: flex;
        justify-content: center;
        color: #fff;
        height: 100vh;
        flex-direction: column;
        padding: 20px;
        margin-top:130px;
        

       }
       .exclusive-content .exclusive-1 .exclusive-info  h3{
          background-color: #fff;
          color: #309b65;
          width:14%;
          padding:2px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
               }
       .exclusive-content .exclusive-1 .exclusive-info  h5{
       font-size: 2.1875rem;
       font-weight: 700;
       font-family: "EB Garamond", serif;
       margin-top: 20px;
       line-height:35px;
       }
       .exclusive-content .exclusive-1 .exclusive-info p{
        font-size:0.875rem;
        font-weight: 400;
        margin-top: 20px;
       }

       .exclusive-content .exclusive-2{
        grid-column: 3/ span 3;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:10px 20px;
        
       }
        
       .exclusive-content .exclusive-2 img{
        width: 100%;
       }
       .exclusive-blog{
       margin-top:px;
       }
       .exclusive-blog h5{
        font-size: 1.2rem;
        font-weight:600;
        font-family: "EB Garamond", serif;
        margin-top:10px;
        line-height:25px;
       }
       /* END STYLE Exclusive-content */

       

       /* START STYLE Latest-article  contain last-articles and subscribe*/
       
       .latest-articles{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        gap: 50px;
       }
       .latest-articles .last-article{
        grid-column: 1 /span 6;
          
       }
       .latest-articles .subscribe{
        grid-column: 7/span 2;
         
            }
       .latest-articles .last-article img{
        width: 100%;
       }
       .multiple .article-info .article-content img{
        width: 5%;
        height: 5%;
        border-radius: 50%;
       }
       .multiple{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 0.5px solid #d2cece;
        padding-bottom: 30px;
        
       }
       .latest-articles .last-article .multiple{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
       }
       .latest-articles .last-article .multiple h3{
        font-size: 1.875rem;
        font-family: "EB Garamond", serif;
        font-weight: 600;
       }
       .latest-articles .last-article .multiple .article-content{
        display: flex;
        gap: 10px;
        align-items: center;
         margin: 20px  0px;
       }
       .latest-articles .last-article .article-info p{
        font-size: 1rem;
        color:rgb(153, 153, 153);
        font-weight: 400;
       }
       form{
        margin-top: 20px;
       }
      .subscribe input ,button{
     width: 100%;
    
      }
      form input{
        padding:15px;
        outline: none;
        border: 0.5px solid gray;
        font-size: 0.8125rem;
        font-weight:700;
        
      }
      form button{
        padding:15px;
        outline: none;
        border: 1px solid gray;
        font-size: 0.8125rem;
        font-weight:700;
        margin-top: 20px;
        background-color: #309b65;
        color: #fff;
        font-size:0.8rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      form button i{
        margin-left: 10px;
        font-size: 1rem;
      }
      form .check {
        display: flex;
        margin-top: 10px;
        gap: 10px;
       }
       form  .check input{
        font-size: 0.5rem;
        width: 10%;
       }
       form  .check p{
      font-size: 0.8rem;
       }
       form  .check span{
      font-size: 0.8rem;
       }
       .subscribe .check-image{
        background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)) ,
        url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/33-696x464.jpg")center/cover,no-repeat;
        height:400px;
        width:100%;
        margin-top: 20px;
        position: relative;
    }
    .subscribe .check-image .check-info {
      position:absolute;
     bottom: 0;
     color: #fff;
     padding: 20px;
    
    }
    .subscribe .check-image .check-info h3{
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 10px;
            }
            .title{
                display: flex;
                    margin-top:30px;
                  align-items: center;
                  justify-content: center;
                  border-bottom: 0.5px solid #d2cece;
                  padding-bottom: 30px;
                  gap: 20px;
                }
                .title img{
                 
                    width:105px;
                    border-radius: 50%;
                    height:100px;
                    background-size: cover;
                }
                .title p{
                    font-size: 0.875rem;
                    font-weight: 500;
                }
                /* END STYLE Latest-articles  contain last-articles and subscribe*/

                /* START STYLE Footer */
            .footer{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                gap: 50px;
                margin-top: 50px;
                border-bottom: 0.5px solid #d2cece;
                margin-bottom: 20px;
                padding: 10px;
            }
            .footer .follow-us h1, .company h1, .letters h1, .popular-news h1{
                font-family: "EB Garamond", serif;
                 margin-bottom: 20px;
                 border-bottom: 1.5px solid #000;
                 padding-bottom: 20px;
            }
            .footer .follow-us .icons i{
                background-color: #000;
                color: #fff;
                padding: 10px 15px;
               margin-bottom: 20px;
               margin-left:7px;
               margin-top: 20px;
              
            }
         
            .footer .follow-us p{
                font-size: 0.8125rem;
                font-weight: 400;
                
            }
            .company  ,.letters ,.popular-news ,.follow-us{
                border-right: 0.5px solid #d2cece;
                               padding-right: 20px;
            }
            .company ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .company ul a{
                text-decoration: none;
                  color: #000;
                  font-weight: 600;
                  font-size: 0.8125rem;
            }
            .company ul a:hover{
                color: #309b65;
            }
            .letters p, .popular-news p{
                font-family: "EB Garamond", serif;
                margin-bottom: 20px;
                font-size: 1rem;
                font-weight: 600;
                padding-bottom: 15px;
                border-bottom: 0.5px solid #d2cece;

            }
            .letters p:hover, .popular-news p:hover{
                color: #309b65;
            }
            .non-border p{
             border-bottom: none;
            }
            .footer-center{
             display: flex;
             justify-content: space-between;
            }

            .footer-center ul {
                display: flex;
                 gap: 10px;
                 align-items: center;
                 justify-content: center;
            }
            .footer-center {
                border-bottom: 0.5px solid #d2cece;
                padding:10px;
                width: 100%;
                margin-bottom: 20px;
            }
            .footer-center ul a{
                text-decoration: none;
                  color: #000;
                  font-weight: 600;
                  font-size: 0.8125rem;
            }
            .footer-center ul a:hover{
                color: #309b65;
            }
            .footer-end{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
            }
            .footer-end p{
                font-size: 0.6875rem;
                font-weight: 500;
            }
            /* START STYLE News-paper */
 @media (max-width:640px){
    /* START STYLE NAV specially smart-phones */
   .menu{
        display: none;

    }
    .hanbugar{
        display: block;
            top:30px;
            right:0;
            z-index:100;
        color: #0de065;
     position: absolute;
        border-radius: 50%;
        width:20px;
        height:20px;
     display: flex;
     align-items: center;
     justify-content: center;
       padding: 10px;
     font-size:2.5rem;
     padding: 30px;
     
    }
    .mobile-menu{
        display: none;
    }
    .mobile-menu[data-visible="false"]{
        transform: translateX(100%);
    }
    .hanbugar i[data-visible="true"]{
        display: block;
    }
    .hanbugar i[data-visible="false"]{
        display:none;
    }
    .logo{
        padding: 20px;
        
    }
   
    .mobile-menu{
             display: flex;
        justify-content: center;
     position:fixed;
        background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
        url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/38.jpg")center/cover,no-repeat;
        width:100%;
        height:100vh;
         inset: 0 0 0 0;              
        color: #fff;   
        transform: translateX(0%);
        transition: transform ease-out 3s;
        flex-direction: column;
    
    }
    
    .mobile-menu {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }
    .mobile-menu a{
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        margin: 10px 0;
        cursor: pointer;
        
    }
    .mobile-menu a i{
  
        padding: 10px;
    }
    .mobile-menu a button{
        background-color: RGB(77 178 236);
        color: #fff;
        padding:10px;
        border: none;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    .mobile-menu  a:hover{
        color: rgb(48,155,101);

    }
     /* End STYLE NAV specially smart-phones */


      /* START STYLE header specially smart-phones */
    header{
        padding: 20px;
    }
    #active{
        color: rgb(48,155,101);
    }
    /* START STYLE hedaer specially smart-phones */

     /* START STYLE hero specially smart-phones */
    .hero{
        display: grid;
        grid-template-columns:1fr;
        gap: 10px;
        
    }
    .hero .hero-left{
        padding:20px;
                           }
    .hero .hero-left img{
        width: 100%;
    }
    .hero .hero-left h4{
        color: #309b65;
        font-size: 0.8125rem;
        font-weight: 700;
        text-transform: uppercase;
     
    }
    .hero .hero-left h5{
        font-size:1.25rem;
        font-weight: 600;
        font-family: "EB Garamond", serif;
    }
    .hero .hero-left p{
        color:rgb(153, 153, 153);
        font-weight: 400;
        font-size:1rem;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .hero .hero-center{
    grid-column:1 / span 1;
    padding: 20px;
    }
    .hero .hero-center .hero-info-1{
        background-color: black;
        background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),
        url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/33-1068x712.jpg")center/cover;
        max-width:573px;
        height:500px;
        color: #fff;
        font-family: "EB Garamond", serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
               
    }
    .hero .hero-center  div{
        margin-top:120px;
    }
    .hero .hero-center .hero-info-1 h4{
        font-size: 1.8rem;
        font-weight:800;
        line-height:30px;
        margin-top: 10px;
    }
    .hero .hero-center .hero-info-1  button{
        width:30%;
        margin-top:30%;
        text-transform: uppercase;
        color: #309b65;
        padding:6px 3px;
        font-weight:550;
        font-size:0.9rem;
        border: 2px solid grey;
    }
    .hero .hero-center .hero-info-1  p{
    font-size:1rem;
    font-weight:400;
    margin:20px 0;
    font-family: "Roboto", sans-serif;
       }
  
       .hero .hero-center .hero-info-2{
        background-color: rgb(246, 40, 40);
        background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),
        url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/22-1068x713.jpg")center/cover;;
        max-width:573px;
        height:500px;
        font-family: "EB Garamond", serif;
       color: #fff;
       padding: 20px;
    }
    .hero .hero-center .hero-info-2 h4{
        font-size:1.8rem;
        font-weight:800;
        line-height:30px;
        }
    .hero .hero-center .hero-info-2  button{
        width:30%;
         margin-bottom: 10px;
        text-transform: uppercase;
        color: #309b65;
        padding:6px 3px;
        font-weight:550;
        font-size:0.9rem;
        border: 2px solid grey;
    }
    .hero .hero-center .hero-info-2  p{
    font-size:1rem;
    font-weight:400;
    font-family: "Roboto", sans-serif;
       }
             .hero-right{
        display: flex;
        flex-direction: column;
        gap:20px;
        padding: 20px;
        max-width:573px;
       }
       .hero-right img{
           width:170px;
           height:100px;
       }
       .hero-center , .hero-left , .hero-right {
       border: none;
    }
        /* end STYLE hero specially smart-phones */

         /* START STYLE news-paper specially smart-phones */
       .news-paper-image{
        padding: 0px 20px;
       }
      .news-paper-image img{
        width: 100%;
      }
          /* end STYLE news-paper specially smart-phones */


              /* START STYLE Blogs specially smart-phones */

       .blogs{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0px 20px;
              }
       .blogs img{
        width: 100%;
       }
           /* end STYLE Blogs specially smart-phones */

               /* START STYLE Articles specially smart-phones */
       .articles{
        display: grid;
        grid-template-columns:1fr;
        gap: 10px;
        padding: 20px;
    }
    .articles .article{
        display: grid;
        grid-template-columns:1fr;
        gap: 10px;
        padding: 20px;
        grid-column: 1;
    }
    .articles .article h4{
        font-size: 1.4125rem;
        font-weight: 600;
        font-family: "EB Garamond", serif;
        margin-top:3%;
        grid-column:1 ;
    }
    .articles .article .articles-profile{
       display: flex;
       gap: 7px;
       align-items: center;
       margin-top:3%;
    }
    .articles .article .articles-profile img{
        width:5vh;
        height:5vh;
    }
    .articles .article img{
     width: 100%;
    }
       /* end STYLE Articles specially smart-phones */

           /* START STYLE instagram specially smart-phones */
    .instagram{
        display: grid;
        grid-template-columns:1fr;
        padding: 20px;
        /* background-color: #0de065; */
        max-width:573px;
        /* height: 700px; */
        border-bottom: none;
    }
    .instagram .instagram-1 img{
        width:200px;
      height:200px;
      padding: 20px;
       }
          /* end STYLE instagram specially smart-phones */


             /* Start STYLE news-paper specially smart-phones */
     .news-paper-image{
           max-width:573px;
           border: none;
     }

   /* end STYLE news-paper specially smart-phones */
   
       /* START STYLE Gneral-news specially smart-phones */
    .general-news .general-info{
        display: grid;
        grid-template-columns:1fr;
        gap:20px;
        margin-top:30px;
        padding: 20px;
        max-width:573px;
    }
       /* end STYLE Blogs general-news smart-phones */


           /* START STYLE social-media specially smart-phones */
    .social-media{
        display: grid;
        grid-template-columns:1fr;
        gap:20px;
        margin-top:30px;
            padding: 20px;
            max-width:573px;
    }
       /* end STYLE social-media specially smart-phones */


           /* START STYLE sections specially smart-phones */
    .sections{
        display: grid;
        grid-template-columns:1fr;
        gap: 20px;
        margin-top:35px ;
        padding: 20px;
        max-width:573px;
       }
          /* end STYLE sections specially smart-phones */


              /* START STYLE amember specially smart-phones */
       .amember{
        margin: 0 10px;
        max-width:573px;
        padding:20px;
        border: none;
       
       }
       .amember-info{
             display: flex;
        flex-direction: column;
     
              }

       .amember-info button{
        margin-inline: 0;
       }
          /* end STYLE amember specially smart-phones */

              /* START STYLE albums specially smart-phones */
       .albums{
              display: grid;
         grid-template-columns:1fr;
                        
                   }
                   .albums .album-1 {
                    height:400px;
                    width:400px;
                     margin-inline: auto;
                     padding: 20px;
                   }
                   .albums .album-2 {
                    height:400px;
                    width:400px;
                     margin-inline: auto;
                   }
                   .albums .album-3 {
                    height:400px;
                    width:400px;
                     margin-inline: auto;
                   }
                   .albums .album-4 {
                    height:400px;
                    width:400px;
                     margin-inline: auto;
                   }
                   .albums .album-1 h3 , .album-2 h3 , .album-3 h3 ,.album-4 h3{
                    position: absolute;
                     top: 38%;
                     left:15%;
                     text-align: center;
                    color: #fff;
                    font-size: 4.5rem;
                    font-family: "EB Garamond", serif;
                    font-weight: 700;
                   }
                      /* end STYLE Albums specially smart-phones */

                          /* START STYLE EXclusive-content specially smart-phones */
                   .exclusive-content{
                    display: grid;
                    grid-template-columns:1fr;
                    gap: 20px;
                   padding: 20px;
                          }
                        .exclusive-content .exclusive-1{
                            grid-column: 1;
                        }
                        .exclusive-content .exclusive-2{
                            grid-column: 1;
                        }
                        .latest-articles{
                            display: grid;
                            grid-template-columns: 1fr;
                            gap: 50px;
                            padding: 20px;
                           }
                           .latest-articles .last-article{
                           grid-column: 1;
                              
                           }
                           .latest-articles .subscribe{
                            grid-column: 1;
                             
                                }
                               .latest-articles .last-article .multiple{
                                   display: flex;
                                   flex-direction: column;
                                }
                              /* end STYLE lastest-articles specially smart-phones */


                                  /* START STYLE footer specially smart-phones */
                            .footer{
                                display: grid;
                                grid-template-columns: 1fr;
                                padding: 20px;
                            }
                           .footer{
                            width: 100%;
                           }
                            .footer-center {
                               display: flex;
                               flex-direction: column;
                               align-items: center;
                               justify-content: center;
                              
                            }
                            .footer-center ul{
                                border-bottom: 0.5px solid #d2cece;
                                padding-bottom:30px;
                                width: 90%;
                                margin-bottom: 20px;
                            }
                            .footer-center ul{
                                margin-top: -10px;
                            }
                            .footer-center {
                             border: none;
                            }
                         
                            .company  ,.letters ,.popular-news ,.follow-us{
                                border:none;
                            }
                            .links-menu , .menu ,.logo{
                                border:none;
                            }
                            .company ul{
                                display: flex;
                                align-items: self-start;
                            }
                               /* end STYLE fooer specially smart-phones */
                      
    } 
    @media screen and (min-width:641px) and (max-width:770px){

        .menu{
            display: none;
        }
        .hanbugar{
            display: block;
                  top:30px;
                right:0;
                z-index:100;
            color: #0de065;
         position: absolute;
            border-radius: 50%;
            width:20px;
            height:20px;
         display: flex;
         align-items: center;
         justify-content: center;
           padding: 10px;
         font-size:2.5rem;
         padding: 30px;
         
        }
        .mobile-menu{
            display: none;
        }
        .mobile-menu[data-visible="false"]{
            transform: translateX(100%);
        }
        .hanbugar i[data-visible="true"]{
            display: block;
        }
        .hanbugar i[data-visible="false"]{
            display:none;
        }
        .logo{
            padding: 20px;
            
        }
        header{
            /* padding:20px;
            max-width:600px;
            box-sizing: border-box; */
          
        }
        .mobile-menu{
                 display: flex;
            justify-content: center;
         position:fixed;
            background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
            url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/38.jpg")center/cover,no-repeat;
            width:100%;
            height:100vh;
             inset: 0 0 0 0;              
            color: #fff;   
            transform: translateX(0%);
            transition: transform ease-out 3s;
            flex-direction: column;
        
        }
        
        .mobile-menu {
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
        }
        .mobile-menu a{
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            margin: 10px 0;
            cursor: pointer;
            
        }
        .mobile-menu a i{
        
            padding: 10px;
        }
        .mobile-menu a button{
            background-color: RGB(77 178 236);
            color: #fff;
            padding:10px;
            border: none;
            font-size: 0.75rem;
            font-weight: 500;
            text-transform: uppercase;
        }
        .mobile-menu  a:hover{
            color: rgb(48,155,101);
        
        }
        header{
            padding: 20px;
        }
        #active{
            color: rgb(48,155,101);
        }
        
        .hero{
            display: grid;
            grid-template-columns:1fr;
            gap: 10px;
            
        }
        .hero .hero-left{
            padding:20px;
                               }
        .hero .hero-left img{
            width: 100%;
        }
        .hero .hero-left h4{
            color: #309b65;
            font-size: 0.8125rem;
            font-weight: 700;
            text-transform: uppercase;
         
        }
        .hero .hero-left h5{
            font-size:1.25rem;
            font-weight: 600;
            font-family: "EB Garamond", serif;
        }
        .hero .hero-left p{
            color:rgb(153, 153, 153);
            font-weight: 400;
            font-size:1rem;
            line-height: 18px;
            margin-bottom: 15px;
        }
        .hero .hero-center{
        grid-column:1 / span 1;
        padding: 20px;
        }
        .hero .hero-center .hero-info-1{
            background-color: black;
            background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),
            url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/33-1068x712.jpg")center/cover;
            max-width:1000px;
            height:500px;
            color: #fff;
            font-family: "EB Garamond", serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
                   
        }
        .hero .hero-center  div{
            margin-top:120px;
        }
        .hero .hero-center .hero-info-1 h4{
            font-size: 1.8rem;
            font-weight:800;
            line-height:30px;
            margin-top: 10px;
        }
        .hero .hero-center .hero-info-1  button{
            width:30%;
            margin-top:30%;
            text-transform: uppercase;
            color: #309b65;
            padding:6px 3px;
            font-weight:550;
            font-size:0.9rem;
            border: 2px solid grey;
        }
        .hero .hero-center .hero-info-1  p{
        font-size:1rem;
        font-weight:400;
        margin:20px 0;
        font-family: "Roboto", sans-serif;
           }
        
           .hero .hero-center .hero-info-2{
            background-color: rgb(246, 40, 40);
            background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)),
            url("https://demo.tagdiv.com/newspaper_publication_pro/wp-content/uploads/2021/11/22-1068x713.jpg")center/cover;;
            max-width:1000px;
            height:500px;
            font-family: "EB Garamond", serif;
           color: #fff;
           padding: 20px;
        }
        .hero .hero-center .hero-info-2 h4{
            font-size:1.8rem;
            font-weight:800;
            line-height:30px;
            }
        .hero .hero-center .hero-info-2  button{
            width:30%;
             margin-bottom: 10px;
            text-transform: uppercase;
            color: #309b65;
            padding:6px 3px;
            font-weight:550;
            font-size:0.9rem;
            border: 2px solid grey;
        }
        .hero .hero-center .hero-info-2  p{
        font-size:1rem;
        font-weight:400;
        font-family: "Roboto", sans-serif;
           }
                 .hero-right{
            display: flex;
            flex-direction: column;
            gap:20px;
            padding: 20px;
            
           }
           .hero-right img{
               width:300px;
               height:300px;
           }
           .hero-right .sub-hero {
            display: flex;
            /* align-items: center; */
            justify-content: center;
            flex-direction: column;
           }
           .news-paper-image{
            padding: 0px 20px;
           }
          .news-paper-image img{
            width: 100%;
          }
           .blogs{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 0px 20px;
                  }
           .blogs img{
            max-width:1000px;
            height:500px;
           }
           .articles{
            display: grid;
            grid-template-columns:1fr;
            gap: 10px;
            padding: 20px;
        }
        .articles .article{
            display: grid;
            grid-template-columns:1fr;
            gap: 10px;
            padding: 20px;
        }
        .articles .article h4{
            font-size: 1.4125rem;
            font-weight: 600;
            font-family: "EB Garamond", serif;
            margin-top:3%;
        }
        .articles .article .articles-profile{
           display: flex;
           gap: 7px;
           align-items: center;
           margin-top:3%;
        }
        .articles .article .articles-profile img{
            width:5vh;
            height:5vh;
        }
        .articles .article img{
         width: 100%;
        }
        .instagram{
            display: grid;
            grid-template-columns:1fr;
            padding: 20px;
            /* background-color: #0de065; */
            max-width:1000px;
            /* height: 700px; */
        }
        .instagram .instagram-1 img{
            width:200px;
          height:200px;
          padding: 20px;
           }
         .news-paper-image{
               max-width:1000px;
         }
        
        .general-news .general-info{
            display: grid;
            grid-template-columns:1fr;
            gap:20px;
            margin-top:30px;
            padding: 20px;
            max-width:1000px;
        }
        .social-media{
            display: grid;
            grid-template-columns:1fr;
            gap:20px;
            margin-top:30px;
                padding: 20px;
                max-width:1000px;
        }
        .sections{
            display: grid;
            grid-template-columns:1fr;
            gap: 20px;
            margin-top:35px ;
            padding: 20px;
            max-width:1000px;
           }
           .amember{
            margin: 0 10px;
            max-width:1000px;
            padding:20px;
            border: none;
           
           }
           .section-1 img{
            height:200px;
           }
           .section-1 {
            display: flex;
            align-items: center;
            justify-content: center;
           }
           .amember-info{
                 display: flex;
            flex-direction: column;
         
                  }
        
           .amember-info button{
            margin-inline: 0;
           }
           .albums{
            display: grid;
       grid-template-columns:1fr;
           padding: 20px;
            
                 }
                  .albums .album-1 h3 , .album-2 h3 , .album-3 h3 ,.album-4 h3{
                    position: absolute;
                     top: 38%;
                     left:15%;
                     text-align: center;
                    color: #fff;
                    font-size: 4.5rem;
                    font-family: "EB Garamond", serif;
                    font-weight: 700;
                   }
                 .albums .album-1 {
                  height:480px;
                  width:500px;
                   margin-inline: auto;
                 }
                 .albums .album-2 {
                  height:480px;
                  width:500px;
                   margin-inline: auto;
                 }
                 .albums .album-3 {
                  height:480px;
                  width:500px;
                   margin-inline: auto;
                 }
                 .albums .album-4 {
                  height:480px;
                  width:500px;
                   margin-inline: auto;
                 }
                 .exclusive-content{
                    display: grid;
                    grid-template-columns:1fr;
                    gap: 20px;
                   padding: 20px;
                          }
                        .exclusive-content .exclusive-1{
                            grid-column: 1;
                        }
                        .exclusive-content .exclusive-2{
                            grid-column: 1;
                        }
                        .latest-articles{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 20px;
       }
       .latest-articles .last-article{
       grid-column: 1;
          
       }
       .latest-articles .subscribe{
        grid-column: 1;
         
            }
           .latest-articles .last-article .multiple{
               display: flex;
               flex-direction: column;
            }
                        .footer{
                            display: grid;
                            grid-template-columns: 1fr;
                            padding: 20px;
                        }
                       .footer{
                        width: 90%;
                       }
                        .footer-center {
                           display: flex;
                           flex-direction: column;
                           align-items: center;
                           justify-content: center;
                          
                        }
                        .footer-center ul{
                            border-bottom: 0.5px solid #d2cece;
                            padding-bottom:30px;
                            width: 90%;
                            margin-bottom: 20px;
                        }
                        .footer-center ul{
                            margin-top: -10px;
                        }
                        .footer-center {
                         border: none;
                        }
                         .company  ,.letters ,.popular-news ,.follow-us{
        border:none;
    }
    .links-menu , .menu ,.logo{
        border:none;
    }
    .company ul{
        display: flex;
        align-items: self-start;
    }
    }